@font-face {font-family: 'myfont';src: URL('./fonts/VarelaRound-Regular.ttf') format('truetype');}.navbar-nav a{font-size: 20px;}
#navbar{font-size: 18px;background-color: #FFFFFF;box-shadow: 0px 1px 0px #E8E8E8;position: fixed;top: 0;width: 100%;z-index: 99;}
#aboutme {color: orange;}#projects {color: orange;}#blog {color: orange;}#skill{color: orange;}
#profile h4{font-size: 1.6em;color: #ff9800;font-weight: 600;padding-bottom: 10px;}#title{text-align: center;}
#title-content {color: orange;text-align: center;font-size: 40px;font-weight: 700;margin-bottom: 20px;}
.fork-icon {position: absolute;right:0;width: 150px;height: 150px;}.fork-icon img{height: 100%;width:100%;}
.bg-main{background-color: rgba(255, 245, 226, 0.301);}#profile{padding: 160px 40px 120px 40px;}
#profile h1{font-size: 3.4em;color: #444444}#profile p{font-size: 1.2em;padding: 20px 0 20px 0;}
.project-div{text-align: center;margin-left: 0px!important;justify-content: center;}.project-div div{padding: 5px;}
h4{margin: 0!important;padding: 0!important;}.grid-container-small {display: grid;grid-template-columns: repeat(2, 1fr);padding: 10px;}
.grid-container {display: grid;grid-template-columns: repeat(3, 1fr);padding: 10px;}.grid-container-3{display: grid;grid-template-columns: repeat(3, 1fr);padding: 10px;}
.grid-container-icon{display: grid;grid-template-columns: repeat(4, 1fr);max-width: 300px;}
.grid-container-4{display: grid;grid-template-columns: repeat(4, 1fr);padding: 10px;}.grid-container-2{display: grid;grid-template-columns: repeat(2, 1fr);padding: 10px;}
.grid-div-horizontal {width: 130px;height: 90px;margin-left: auto;margin-right: auto;}.grid-div-horizontal img{padding: 5px;}
.grid-div-horizontal img:hover{padding: 0px;transition: all .3s ease;-webkit-transition: all .3s ease;}
.grid-div-small {width: 90px;height: 90px;margin-left: auto;margin-right: auto;}.grid-div-small img{padding: 5px;}
.grid-div-small img:hover{padding: 0px;transition: all .3s ease;-webkit-transition: all .3s ease;}
.centered{display: flex;align-items: center;}.title-div{background-color: #444444;border-radius: 3px;width: 100%;color: white;}
@media only screen and (max-width: 800px) {#navlogo{ display: none;}}.bxsh{box-shadow: 1px 1px 4px rgb(197, 197, 197);}
.rotated{-webkit-transform: scaleX(-1);transform: scaleX(-1);}* {font-family:myfont;}.shadow{box-shadow: 1px 1px 1px rgb(141, 141, 141,0.575)}
.card-body{border-radius: 5px;box-shadow: 1px 1px 20px rgba(141, 141, 141, 0.411);background-color: white}
.hov:hover{padding: 0px!important;transition: all .5s ease;-webkit-transition: all .5s ease;margin-bottom: 18px!important;}
.card-image{width: 100%;height:200px;background-color: white;}.bg-white{background-color: white;}.card-text{color: #444444;}
.grid-container-4 p{font-size: 12px;font-weight: 600;margin-bottom: 0px!important;}.icon-color{color:#444444}
.grid-container-3 p{font-size: 12px;font-weight: 600;margin-bottom: 0px!important;}.photo{box-shadow: 5px 5px #88888838;border-radius: 100%;height: 220px;}
.grid-container-2 p{font-size: 12px;font-weight: 600;margin-bottom: 0px!important;}.icon-hover{padding: 2px!important;}
.icon-hover:hover{padding: 0px!important;transition: all .3s ease;-webkit-transition: all .3s ease;}
